html,body {
    width: 100%;
    height: 100%;
}
html {
    background-image: url("../images/apple_background.jpg"); 
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    background-attachment: fixed;
}
body {
    padding-top: 2%;
    width: 80%;
    margin: auto;
}
section {
    width: 100%;
    height: 35%;  
}
.logo {
    width: 35%;    
}
.changing_pic {
    width: 60%;
    height: 100%;

    float: right;
    position: relative;
}
.changing_pic img {
    position:absolute;
    width: 100%;
    height: 100%;
}
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.changing_pic img {
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}
.banner_pic1 {
  animation-delay: 12s;
}
.banner_pic2 {
  animation-delay: 8s;
}
.banner_pic3 {
  animation-delay: 4s;
}
.banner_pic4 {
  animation-delay: 0s;
}
nav {
    height: 20%;
    width: 35%;        
}
li:hover {
    background-color: green;
}
ul {
    height: 100%;
    list-style-type:none;
    background-color: orangered;
    padding-left: 0;
}
a {
    color: white;
    text-decoration: none;
}
li {
    width: 25%;
    height: 100%;
    
    display: block;    
    float: left;
    text-align: center;
}
.about_us {
    width: 30%;
    height: 55%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 0px;
    position:relative;

    background: rgba(255,255,255, 0.7);        
    overflow: auto;
}
.about_pic {
    width: 33%;
    height: 80%;
    padding: 2%;
    float:right;
}
.weekly_update {
    width: 56%;
    height: 50%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
    float: right;

    background: rgba(255,255,255, 0.7);
    overflow: auto;   
}
.the_team {
    width: 35%;
    height: 60%;
    position:relative;
    float:left;
    margin-top: 2%;
    background: rgba(255,255,255, 0.7);   
    overflow: auto;
    align-content: center;
}
h1 {
    text-align: center;
}
h3, h2 {
    margin: 0;
    text-align: center;
}
.team_pics {
    padding: 5%;
    height: 20%;
    width: 20%;
}
.buttons {
    height: 50%;
    width: 30%;

    margin-top: 2%;
    position:absolute;
    margin-left: 31%;
}
.button_1 {
    height: 40%;
    width: 80%;

    margin:10%;
    background: rgba(255,255,255, 0.7); 
    border: 1px solid black;
}
form {
    margin: 2%;
}
.button_2 {
    height: 40%;
    width: 80%;

    margin: 10%;
    background: rgba(255,255,255, 0.7); 
    border: 1px solid black;
}
.address_container {
    height: 49%;
    width: 25%;    
    margin-top: 5%;
    float:right;
    background: rgba(255,255,255, 0.7);
}
.address_pic {   
    width: 100%;
    height: 50%; 
}
.location_vision {
    width: 100%;
}
.written_address {
    padding: 5%;
    width: 100%;
    height: 50%;
    overflow: auto;
}
footer {
    height: 10%;
    width: 100%;
    margin-top: 5%;
}
.css_validated, .html_validated {
    float: right;
}
.packhouse {
    width :100%;
    height: 80%;
    margin-top: 5%;
    background: rgba(255,255,255, 0.7);   
}
iframe {    
    height: 75%;
    width: 40%;        
    display: block;
}
.video1 {
    float: right;
    margin-right: 4%
}
.video2 {
    margin-left: 4%;
}
.login {
    width: 50%;
    height: 50%;
    background: rgba(255,255,255, 0.7);
    margin: 5% auto;
}
.place_order {
    width: 90%;
    height: 60%;
    background: rgba(255,255,255, 0.7);
    margin: 5% auto;
}
.order_entry {
    height: 250px;
    width: 100%;
}
.clearfix {
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*_____________________responsive design mobile_____________________*/
@media screen and (min-width:0px) and (max-width:500px) {

html {
    background-image: url("../images/apple_background.jpg"); 
    background-size: 100%;
    background-repeat: repeat;
}
body {
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 20px;
}
.logo {
    width: 100%;    
}
.changing_pic {
    width: 100%;
    height: 50%;
    float: none;
    position: relative;
}
nav {
    height: 20%;
    width: 100%;    
}
ul {
    margin-top: 2%;
    height: 100%;
}
li {
    width: 25%;
    display: block;

    float: left;
    text-align: center;
    font-size: 14px;
}
.about_us {
    width: 95%;
    height: 350px;
    margin-top: 2%;
    margin-left: 0;
    float:none;
}
.about_pic {
    width: 80px;
    height: 120px;
    padding: 2%;
    margin-top: 10px;
}
.weekly_update {
    width: 95%;
    height: 400px;
    margin: 3% auto;
}
.the_team {
    width: 90%;
    height: 250px;
    float: none;
    margin: 10px auto;
}
.team_pics {
    padding: 4%;
    height: 90px;
    width: 85px;
}
.buttons {
    height: 250px;;
    width: 100%;
    float: none;
    margin: 0 auto;
    position: static;
}
.address_container {
    height: 280px;
    width: 280px;
    position: static;
    float: none;
    margin: 10px auto;
}
.written_address {
    font-size: 14px;
}
iframe {    
    height: 75%;
    width: 100%;        
}
.video1 {
    margin: 0 auto;
}
.video2 {
    margin: 0 auto;
}
footer {
    margin-top: 5%;
}
.clearfix {
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.login {
    width: 90%;
    height: 50%;
}
.place_order {
    width: 100%;
    height: 60%;
}
}
/*_____________________responsive design tablet______________________*/
@media screen and (min-width:500px) and (max-width:1000px) {

body {
    width: 100%;
}
.logo {
    display: block;
    width: 500px;
    height: 180px;
    margin: 0 auto;
}
.changing_pic {
    width: 600px;
    height: 200px;
    float: none;
    margin: 10px auto;
}
nav {
    height: 25%;
    width: 60%;
    margin: 0 auto;
}
ul {
    margin-top: 2%;
    height: 100%;
    list-style-type: none;
}
li {
    width: 25%;
    display: block;
    
    float: left;
    text-align: center;
    font-size: 16px;
}
.about_us {
    width: 65%;
    height: 45%;
    margin: 2% auto;
}
.about_pic {
    width: 120px;
    height: 200px;
    padding: 2%;
    margin-top: 10px;
}
.weekly_update {
    width: 65%;
    height: 45%;
    margin: 3% auto;
    float: none;
}
.the_team {
    width: 400px;
    height: 400px;
    margin: auto;
    float: none;
}
.buttons {
    height: 100px;
    width: 100%;
    margin-left: 0;
    position: static;
    padding: 2%;
}
.button_1{
    float: left; 
    width: 40%;
    height: 100%;
    margin: 0;
    margin-left: 6%;
}
.button_2 {
    float: right;
    height: 100%;
    width: 40%;
    margin: 0;
    margin-right: 6%;
} 
.address_container {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    float:none;
    position: static;
    }
    
.written_address {
    font-size: 16px;
}
footer {
    margin-top: 5%;
}
.clearfix {
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.login {
    width: 80%;
    height: 80%;
}
.place_order {
    width: 85%;
    height: 70%;
    background: rgba(255,255,255, 0.7);
    margin: 5% auto;
}
.video1 {
    width: 46%;
    float: right;
    margin-right: 1%
}
.video2 {
    width: 46%;
    margin-left: 1%;
}
}